@import "tailwindcss";

:root[data-theme="light"] {
  --bg: #f9fafb;
  --bg-card: #ffffff;
  --text: #111827;
  --text-muted: #6b7280;
  --border: #e5e7eb;
  --primary: #111827;
  --primary-text: white;
  --primary-hover: #000000;
   --progess-color: green;
   --button-background-color: black;
   --button-text-color: white
}

:root[data-theme="dark"] {
  --bg: #111827;
  --bg-card: #1f2937;
  --text: #f9fafb;
  --text-muted: #9ca3af;
  --border: #374151;
  --primary: #f9fafb;
  --primary-text: #111827;
  --primary-hover: #ffffff;
  --progess-color: green;
    --button-background-color: white;
   --button-text-color: black

}

/* Apply them globally */
body {
  background: var(--bg);
  color: var(--text);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}
